<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header')%>
</head>

<body style="background-image: url('../img/background2.jpg');">

    <!-- Nav Bar Start -->
    <%- include('NavBarStart')%>
    <!-- Nav Bar End -->

     <!-- Bottom Bar Start -->
     <div class="bottom-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="../users/trang-chu">
                            <img src="../img/favicon.ico" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search">
                        <input type="text" placeholder="Search">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Bar End -->

    <!-- My Account Start -->
    <div class="my-account">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#category-tab" role="tab"><i class="fa fa-tachometer-alt"></i>Thể loại</a>
                        <a class="nav-link" id="account-nav" data-toggle="pill" href="#product-tab" role="tab"><i class="fa fa-user"></i>Kho Sách</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="category-tab" role="tabpanel" aria-labelledby="orders-nav">
                            <div class="table-responsive">
                                <form action="/sach/them-the-loai" method="get">
                                    <div class="col-md-12">
                                        <button class="btn" style="text-align: right;">Thêm thể loại</button>
                                        <br><br>
                                    </div>
                                </form>
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Thể loại</th>
                                            <th>Số lượng</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let i of list) { %>
                                            <tr>
                                                <td><%= i.idCat %></td>
                                                <td><%= i.nameCat%></td>
                                                <td><%= i.number %></td>
                                                <td><a href="/sach/chi-tiet-the-loai<%= i.idCat %>" class="btn" type="button">Edit</a><a href="/sach/xoa-the-loai/<%= i.idCat %>" class="btn" type="button">Delete</a></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <% if(detail != null)
                                { %>
                                    <h4>Chỉnh sửa thể loại</h4>
                                        <form action="/sach/chinh-sua-the-loai?_method=PUT" method="post">
                                            <input type="hidden" name="_method" value="PUT">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="idCat">Mã thể loại</label>
                                                    <input id="idCat" name="idCat" value="<%=detail.idCat %>" class="form-control" type="text" placeholder="Mã thể loại" read>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="nameCat">Tên thể loại</label>
                                                    <input id="nameCat" name="nameCat" value="<%=detail.nameCat %>" class="form-control" type="text" placeholder="Tên thể loại">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="number">Số lượng</label>
                                                    <input id="number" name="number" value="<%=detail.number %>" class="form-control" type="text" placeholder="Số lượng">
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="btn">Sửa</button>
                                                    <br><br>
                                                </div>
                                            </div>
                                        </form>
                                    <% }
                                    else
                                    { %>
                                        <h4>Thêm thể loại mới</h4>
                                        <form action="/sach/them-the-loai" method="post">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="nameCat">Tên thể loại</label>
                                                    <input id="nameCat" name="nameCat" value="" class="form-control" type="text" placeholder="Tên thể loại">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="number">Số lượng</label>
                                                    <input id="number" name="number" value="" class="form-control" type="text" placeholder="Số lượng">
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="btn">Thêm</button>
                                                    <br><br>
                                                </div>
                                                <% if(message != null)
                                                {%>
                                                    <span id="lblErr" style="color:Red;font-weight:bold; text-align: center;"><%=message%></span>
                                                <%} %>
                                            </div>
                                        </form>
                                    <% } %>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="product-tab" role="tabpanel" aria-labelledby="account-nav">
                            <div class="col-md-12">
                                <div id="myTable" class="row">
                                    <div class="col-md-12">
                                        <a href="/sach/them-sach"  class="btn" type="button">Thêm sách</a>
                                        <br><br>
                                    </div>
                                    <% for (product of listPro) { %>
                                        <div class="col-md-4">
                                            <div class="product-item">
                                                <div class="product-title">
                                                    <a class="slug"><%=product.nameProduct%></a>
                                                </div>
                                                <div class="product-image">
                                                    <a href="product-detail.html">
                                                        <img src="../<%=product.imgProduct%>" alt="Product Image">
                                                    </a>
                                                    <div class="product-action">
                                                        <a href="/sach/chi-tiet-sach<%=product.idProduct%>" class="btn" type="button" style="width: 60px;">Chi tiết</a>
                                                        <a href="/sach/xoa-sach/<%=product.idProduct%>/<%=product.idCat%>" class="btn" type="button" style="width: 60px;">Xoá</a>
                                                    </div>
                                                </div>
                                                <div class="product-price">
                                                    <h3><%=product.priceProduct.toLocaleString('vi-VN')%><span> ₫</span></h3>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My Account End -->
    
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="../js/main.js"></script>

    
</body>

</html>
