<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/favicon.ico">

    <title>BOOK MANAGEMENT</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="../lib/slick/slick.css" rel="stylesheet">
    <link href="../lib/slick/slick-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <!-- Template Stylesheet -->
    <link href="../css/style.css" rel="stylesheet">
</head>

<body style="background-image: url('../img/background2.jpg');">

    <!-- Nav Bar Start -->
    <div class="nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="/san-pham/trang-chu" class="nav-item nav-link active">Trang Chủ</a>
                        <a href="/gio-hang/" class="nav-item nav-link">Giỏ Hàng</a>
                        <a href="/thanh-toan" class="nav-item nav-link">Thanh toán</a>
                        <a href="/users/tai-khoan" class="nav-item nav-link">Tài khoản của bạn</a>
                        <a href="/users/dang-xuat" class="nav-item nav-link">Đăng xuất</a>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->

     <!-- Bottom Bar Start -->
     <div class="bottom-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="../san-pham/trang-chu">
                            <img src="../img/favicon.ico" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search">
                        <input type="text" placeholder="Search">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Bar End -->

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/san-pham/trang-chu">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                <li class="breadcrumb-item active">
                    <%=breadcrumb%>
                </li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Detail Start -->
    <div class="product-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="product-detail-top">
                        <div id="chi-tiet-san-pham" class="row align-items-center">
                            <div class="col-md-5">
                                <div class="product-slider-single normal-slider">
                                    <% for (var i = 1; i < 6; i++) { %>
                                        <img src="../<%= itemPro.imgProduct%>" alt="Product Image">
                                        <% } %>

                                </div>
                                <div class="product-slider-single-nav normal-slider">
                                    <% for (var i = 1; i < 6; i++) { %>
                                        <div class="slider-nav-img"><img src="../<%= itemPro.imgProduct%>" alt="Product Image"></div>
                                        <% } %>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="product-content">
                                <form action="/gio-hang/them/<%=itemPro.idProduct%>" method="post">
                                    <div class="title">
                                        <h2 id="nameProduct"></h2>
                                    </div>
                                    <div class="author">
                                        <h6>Tác Giả: <%= itemPro.authorProduct%></h6>
                                    </div>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="price">
                                        <h4>Giá:</h4>
                                        <p id="priceProduct"></p>
                                    </div>
                                    <div class="quantity">
                                        <h4>Số lượng:</h4>
                                        <div>
                                            <input id="quantity" type="text" value="1" name="quantity">
                                        </div>
                                    </div>
                                    <div class="action">
                                        <Button class="btn">Thêm vào giỏ<i class="fa fa-cart-plus"></i></Button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row product-detail-bottom">
                        <div class="col-lg-12">
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#description">Mô tả</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#reviews">
                                            Đánh giá 
                                            <% var i=0; for(c of listComment) { i++ %>
                                            <% }  %>
                                            (<%=i%>)
                                        </a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="description" class="container tab-pane active">
                                    <h4>Mô tả sản phẩm</h4>
                                    <p id="desProduct"></p>
                                </div>
                                
                                <div id="reviews" class="container tab-pane fade">
                                    <% for(comment of listComment) { %>
                                        <div class="reviews-submitted">
                                            <div class="reviewer">
                                                <%= comment.ten %> - <span><%=comment.date.toLocaleString()%></span></div>
                                            <div class="ratting">
                                                <% if(comment.rating >= 1) {  %> <i class="fa fa-star"></i>
                                                    <% } %>
                                                        <% if(comment.rating >= 2) {  %> <i class="fa fa-star"></i>
                                                            <% } %>
                                                                <% if(comment.rating >= 3) {  %> <i class="fa fa-star"></i>
                                                                    <% } %>
                                                                        <% if(comment.rating >= 4) {  %> <i class="fa fa-star"></i>
                                                                            <% } %>
                                                                                <% if(comment.rating >= 5) {  %> <i class="fa fa-star"></i>
                                                                                    <% } %>
                                            </div>
                                            <p>
                                                <%=comment.content%>
                                            </p>
                                        </div>
                                        <% } %>
                                            <form action="/san-pham/comment/createcomment" method="post">
                                                <div class="reviews-submit">
                                                    <div class="field">
                                                        <h4>Viết đánh giá của bạn:</h4>
                                                        <div class="control">
                                                            <div class="rating">
                                                                <input type="radio" name="star" id="star1" value="5"><label for="star1">
                                                            </label>
                                                                <input type="radio" name="star" id="star2" value="4"><label for="star2">
                                                            </label>
                                                                <input type="radio" name="star" id="star3" value="3"><label for="star3">
                                                            </label>
                                                                <input type="radio" name="star" id="star4" value="2"><label for="star4">
                                                            </label>
                                                                <input type="radio" name="star" id="star5" value="1"><label for="star5">
                                                            </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row form clearfix">
                                                        <div class="col-sm-6">
                                                            <input name="ten" type="text" placeholder="Tên">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <input name="email" type="email" placeholder="Email">
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <textarea name="content" placeholder="Đánh giá..."></textarea>
                                                        </div>
                                                        <input type="hidden" name="idProduct" value="<%=itemPro.idProduct%>">
                                                        <input type="hidden" name="nameProduct" value="<%=itemPro.nameProduct%>">
                                                        <div class="col-sm-12">
                                                            <button>Gửi</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product">
                        <div class="section-header">
                            <h1>Sách tương tự</h1>
                        </div>

                        <div class="row align-items-center product-slider product-slider-3">
                            <% for (product of listPro) { %>
                                <div class="col-lg-3">
                                    <div class="product-item">
                                        <div class="product-title">
                                            <a class="slug" href="/san-pham/<%=product.nameProduct%>">
                                                <%=product.nameProduct%>
                                            </a>
                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="product-image">
                                            <a href="product-detail.html">
                                                    <img src="../<%=product.imgProduct%>" alt="Product Image">
                                                </a>
                                            <div class="product-action">
                                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                                <a href="#"><i class="fa fa-heart"></i></a>
                                                <a class="slug" href="/san-pham/<%=product.nameProduct%>"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-price">
                                            <h3>
                                                <%=product.priceProduct.toLocaleString('vi-VN')%><span> ₫</span></h3>
                                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                    
                </div>

                <!-- Side Bar Start -->
                <div class="col-lg-4 sidebar">
                    <div class="sidebar-widget category">
                        <h2 class="title">Thể loại</h2>
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                                <% for (cat of listCat) { %>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/danh-muc/<%=cat.nameCat%>"><i class="fa fa-book"></i>Sách <%= cat.nameCat %></a>
                                    </li>
                                    <% } %>
                            </ul>
                        </nav>
                    </div>

                    <div class="sidebar-widget widget-slider">
                        <h3 style="text-align: center; color: #FF6F61;">Sách Bán Chạy</h3>
                        <div class="sidebar-slider normal-slider">
                            <% for (product of listPro) { %>
                                <div class="product-item">
                                    <div class="product-title">
                                        <a class="slug" href="/san-pham/<%=product.nameProduct%>">
                                            <%=product.nameProduct%>
                                        </a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                                <img src="../<%=product.imgProduct%>" alt="Product Image">
                                            </a>
                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a class="slug" href="/san-pham/<%=product.nameProduct%>"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3>
                                            <%=product.priceProduct.toLocaleString('vi-VN')%> <span>₫</span></h3>
                                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>

                </div>
                <!-- Side Bar End -->
            </div>
        </div>
    </div>
    <!-- Product Detail End -->

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="../js/main.js"></script>

    
</body>

</html>

<script>
    const xulidulieu = (data) => {
        let chi_tiet_san_pham = document.getElementById("chi-tiet-san-pham");
        let itemPro = data;
        let nameProduct = document.getElementById("nameProduct");
        nameProduct.setAttribute("idProduct", `${itemPro.idProduct}`);
        let priceProduct = document.getElementById("priceProduct");
        let sizeProduct = document.getElementById("sizeProduct");
        let desProduct = document.getElementById("desProduct");
        nameProduct.innerHTML = itemPro.nameProduct;
        priceProduct.innerHTML = itemPro.priceProduct.toLocaleString('vi-VN') + " đ";
        if (itemPro.S == 1) {
            sizeProduct.innerHTML += '<button type="button" class="btn">S</button>'
        }
        if (itemPro.M == 1) {
            sizeProduct.innerHTML += '<button type="button" class="btn">M</button>'
        }
        if (itemPro.L == 1) {
            sizeProduct.innerHTML += '<button type="button" class="btn">L</button>'
        }
        desProduct.innerHTML = itemPro.desProduct;
    }
    var paramsString = window.location.href;
    var index = paramsString.lastIndexOf('m/') + 2;
    var ten_san_pham = paramsString.slice(index);
    window.fetch(`http://localhost:3000/san-pham/api/chi-tiet-san-pham/${ten_san_pham}`)
        .then(res => {
            return res.json();
        })
        .then(data => {
            console.log(data);
            xulidulieu(data);
        })
        .catch(err => {
            console.log(err);
        })
</script>