<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BOOK MANAGEMENT</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="../lib/slick/slick.css" rel="stylesheet">
    <link href="../lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../css/style.css" rel="stylesheet">
</head>

<body style="background-image: url('../img/background2.jpg');">

    <!-- Nav Bar Start -->
    <div class="nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="/sach/" class="nav-item nav-link">Quản lý kho sách</a>
                        <a href="/users/quan-ly" class="nav-item nav-link">Quản lý tài khoản</a>
                        <a href="/users/tai-khoan-admin" class="nav-item nav-link">Tài khoản của bạn</a>
                        <a href="/users/dang-ky-admin" class="nav-item nav-link">Thêm admin</a>
                        <a href="/users/dang-xuat" class="nav-item nav-link">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->

     <!-- Bottom Bar Start -->
     <div class="bottom-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="../sach/">
                            <img src="../img/favicon.ico" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search">
                        <input type="text" placeholder="Search">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Bar End -->

    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/sach/">Quản lý kho sách</a></li>
                <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                
            </ul>
        </div>
    </div>

    <!-- My Account Start -->
    <div class="my-account">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-9">
                    <div class="tab-content">
                            <div class="col-md-12">
                                <% if(show != null)
                                {
                                    if(show == "add")
                                    { %>
                                        <h4>Thêm sách mới</h4>
                                        <form action="/sach/them-sach" method="post" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="nameProduct">Tên sách</label>
                                                    <input id="nameProduct" name="nameProduct" value="" class="form-control" type="text" placeholder="Tên sách">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="authorProduct">Tên tác giả</label>
                                                    <input id="authorProduct" name="authorProduct" value="" class="form-control" type="text" placeholder="Tên tác giả">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="idCat">Thể loại</label>
                                                    <select name="idCat" id="idCat" class="form-control">
                                                        <% for(let value of list) { %>
                                                            <option value="<%=value.idCat%>"><%=value.nameCat%></option>
                                                        <%}%>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="amountProduct">Số lượng</label>
                                                    <input id="amountProduct" name="amountProduct" value="" class="form-control" type="text" placeholder="Số lượng">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="priceProduct">Giá tiền</label>
                                                    <input id="priceProduct" name="priceProduct" value="" class="form-control" type="text" placeholder="Giá tiền">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="upload_image">Hình ảnh</label>
                                                    <input id="upload_image" name="upload_image" value="" class="form-control" type="file" placeholder="Hình ảnh">
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="desProduct">Mô tả</label>
                                                    <textarea id="desProduct" name="desProduct" value="" class="form-control"  placeholder="Mô tả" rows="4" cols="1"></textarea>
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="btn">Thêm</button>
                                                    <br><br>
                                                </div>
                                            </div>
                                        </form>
                                    <%}
                                    else {%>
                                        <h4>Chỉnh sửa thông tin sách </h4>
                                        <form action="/sach/chinh-sua-sach/<%=detailPro.idProduct%>?_method=PUT" method="post" enctype="multipart/form-data" name="editForm">
                                            <input type="hidden" name="_method" value="PUT">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="idProduct">Mã sách </label>
                                                    <input id="idProduct" name="idProduct" value="<%=detailPro.idProduct%>" class="form-control" type="text" placeholder="Mã sách" readonly>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="nameProduct">Tên sách</label>
                                                    <input id="nameProduct" name="nameProduct" value="<%=detailPro.nameProduct%>" class="form-control" type="text" placeholder="Tên sách">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="authorProduct">Tên tác giả</label>
                                                    <input id="authorProduct" name="authorProduct" value="<%=detailPro.authorProduct%>" class="form-control" type="text" placeholder="Tên tác giả">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="idCat">Thể loại</label>
                                                    <select name="idCat" id="idCat" class="form-control">
                                                        <option value="<%=detailPro.idCat%>" selected enabled><%=nameCatalog%></option> 
                                                        <% for(let value of list) { if(value.idCat != detailPro.idCat) {%>
                                                            <option value="<%=value.idCat%>"><%=value.nameCat%></option>
                                                        <%}}%>
                                                    </select>
                                                    <script language="">
                                                        function myGeeks() {
                                                            document.getElementById("idCat").value = detailPro.idCat;
                                                            console.log(detailPro.idCat);
                                                        }
                                                    </script>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="amountProduct">Số lượng</label>
                                                    <input id="amountProduct" name="amountProduct" value="<%=detailPro.amountProduct%>" class="form-control" type="text" placeholder="Số lượng">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="priceProduct">Giá tiền</label>
                                                    <input id="priceProduct" name="priceProduct" value="<%=detailPro.priceProduct%>" class="form-control" type="text" placeholder="Giá tiền">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="upload_image">Hình ảnh</label>
                                                    <img src="../<%=detailPro.imgProduct%> " alt="" style="display: block; width: 109px; height: 159px;">
                                                    <input id="upload_image" name="upload_image" value="<%=detailPro.imgProduct%>" class="form-control" type="file" placeholder="Hình ảnh">
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="desProduct">Mô tả</label>
                                                    <textarea id="desProduct" name="desProduct" value="<%=detailPro.desProduct%>" class="form-control"  placeholder="Mô tả" rows="4" cols="1"><%=detailPro.desProduct%></textarea>
                                                </div>
                                                <div class="col-md-12" >
                                                    <button class="btn" style="width: 80px;">Sửa</button>
                                                    <a href="/sach/xoa-sach/<%=detailPro.idProduct%>/<%=detailPro.idCat%>" class="btn" type="button" style="width: 80px;">Xoá</a>
                                                    <br><br>
                                                </div>
                                            </div>
                                        </form>
                                    <%}
                                } else { %>
                                    <div id="myTable" class="row">
                                        <div class="col-md-12">
                                            <a href="/sach/them-sach"  class="btn" type="button">Thêm sách</a>
                                            <br><br>
                                        </div>
                                        <% for (product of listPro) { %>
                                            <div class="col-md-4">
                                                <div class="product-item">
                                                    <div class="product-title">
                                                        <a class="slug"><%=product.nameProduct%></a>
                                                    </div>
                                                    <div class="product-image">
                                                        <a href="product-detail.html" style="display: flex;">
                                                            <img src="../<%=product.imgProduct%>" alt="Product Image">
                                                        </a>
                                                        <div class="product-action">
                                                            <a href="/sach/chi-tiet-sach <%=product.idProduct%>" class="btn" type="button" style="width: 60px;">Chi tiết</a>
                                                            <a href="/sach/xoa-sach/<%=product.idProduct%>/<%=product.idCat%>" class="btn" type="button" style="width: 60px;">Xoá</a>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">
                                                        <h3><%=product.priceProduct.toLocaleString('vi-VN')%><span> ₫</span></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                <%} %>
                            </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My Account End -->

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="../js/main.js"></script>

    
</body>

</html>

