<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BOOK MANAGEMENT</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="../lib/slick/slick.css" rel="stylesheet">
    <link href="../lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../css/style.css" rel="stylesheet">
</head>

<body style="background-image: url('../img/background2.jpg');">

    <!-- Nav Bar Start -->
    <div class="nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="/san-pham/trang-chu" class="nav-item nav-link active">Trang Chủ</a>
                        <a href="/gio-hang/" class="nav-item nav-link">Giỏ Hàng</a>
                        <a href="/thanh-toan" class="nav-item nav-link">Thanh toán</a>
                        <a href="/users/tai-khoan" class="nav-item nav-link">Tài khoản của bạn</a>
                        <a href="/users/dang-xuat" class="nav-item nav-link">Đăng xuất</a>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->

     <!-- Bottom Bar Start -->
     <div class="bottom-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="../san-pham/trang-chu">
                            <img src="../img/favicon.ico" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search">
                        <input type="text" placeholder="Search">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Bar End -->

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="../san-pham/trang-chu">Home</a></li>
                <li class="breadcrumb-item"><a href="">Thanh toán</a></li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Checkout Start -->
    <div class="checkout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-inner">
                        <div class="billing-address">
                            <h2>Thông Tin Đặt Hàng</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control" type="text" value="<%=user.ho%>" placeholder="Họ">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" value="<%=user.ten%>" placeholder="Tên">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" value="<%=user.email%>" placeholder="E-mail">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" value="<%=user.phone%>" placeholder="Số điện thoại">
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" value="<%=user.address%>" placeholder="Địa chỉ giao hàng">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout-inner">
                        <div class="checkout-summary">
                            <h1>Tổng Giỏ Hàng</h1>
                            <%if(bill != null) {%>
                            <p>Tổng tiền sản phẩm<span><%=bill.totalProduct%></span></p>
                            <p class="ship-cost">Phí ship<span><%=bill.ship%></span></p>
                            <p class="sub-total">Giảm giá<span><%=bill.discount%></span></p>
                            
                            <h2>Tổng cộng<span><%=bill.total%></span></h2>
                            <%} else {%>
                            <p>Tổng tiền sản phẩm<span></span></p>
                            <p class="ship-cost">Phí ship<span></span></p>
                            <p class="sub-total">Giảm giá<span></span></p>
                            
                            <h2>Tổng cộng<span></span></h2>
                            <%}%>
                        </div>

                        <div class="checkout-payment">
                            
                            <div class="checkout-btn">
                                <form action="/thanh-toan/dat-hang" method="post">
                                    <button>Đặt Hàng</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="../js/main.js"></script>

    
</body>

</html>